.admin__main {
    width: 100%;
    height: 100%;
}

.admin__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border: 2px solid $color5;
    border-radius: $borderRadius;
}

.admin__nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.admin__nav_link {
    width: 100%;
    text-align: center;
    font-size: 32px;
    margin-right: 1%;
    border-radius: $borderRadius;
    background-color: $color2;
    transition: $trahsitionHoverDuration;
    &:hover {
        color: $bodyBGColor;
        background-color: $color3;
    }
    &:active {
        background-color: $color5;
        transition: none;
    }
    &:last-child {
        margin-right: 0;
    }
}

.admin__nav_active {
    background-color: $color5;
    &:hover {
        color: $color3;
        background-color: $color5-plus37;
    }
}