include ../mixins/mixins.pug

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Webpack Template
  body
    .wrapper
      .indicator
      button.gmb-button(type="button")
        .gmb-button__section
      .gmb-menu-hide
      .gmb-menu
        button.gmb-button_close(type="button")
        .menu__list
          +menu("link_gmb", links)
      section.section.section_1 Block1
        header.header
          +menu("link", links)
      section.section.section_2 Block2
      section.section.section_3 Block3
      section.section.section_1 Block4
      section.section.section_2 Block5
      section.section.section_3 Block6
      section.section.section_1 Block7
      section.section.section_2 Block8
      section.section.section_3 Block9
        footer.footer
          +menu("link_footer", links)
