include ../mixins/mixins.pug

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title One-page-scroll
  body
    .wrapper
      .indicator
      .gmb-button(type="button")
        .gmb-button__section
      .gmb-menu-hide
      .gmb-menu
        .gmb-button_close(type="button")
        nav.navigation_gmb
          +menu("link_gmb", menuItems)
      section.section.section_1.section__about
        header.header
          nav.navigation
            +menu("link", menuItems)
        h1 Green Pink Store
        h2 Сайт находится в разработке
      section.section.section_2.section__last-orders
        h2 Последние работы
        +smoothBlocks('last-orders', 'last-orders_block', 'last-orders_block_wrapper', 'last-orders_pic', instaLinks)
        //- .last-orders
        //-   .last-orders_block
        //-     .last-orders_block_wrapper
        //-       img.last-orders_pic(src="https://instagram.fhel6-1.fna.fbcdn.net/v/t51.2885-15/e35/70391656_2515621652003366_1811675408870812340_n.jpg?_nc_ht=instagram.fhel6-1.fna.fbcdn.net&_nc_cat=102&_nc_ohc=bMnqDXQIPl0AX9pn4WL&oh=3ee63f5e643a4fde42c640518148edb1&oe=5F0237A9")
        //-   .last-orders_block
        //-     .last-orders_block_wrapper
        //-       img.last-orders_pic(src="https://instagram.fhel6-1.fna.fbcdn.net/v/t51.2885-15/e35/71287057_519103098921075_2680781908099209629_n.jpg?_nc_ht=instagram.fhel6-1.fna.fbcdn.net&_nc_cat=103&_nc_ohc=jWqpGZIdx5QAX9jLZYM&oh=5cea27ecc6a3fa8397e7425527f8e0cc&oe=5F02D1DA")
        //-   .last-orders_block
        //-     .last-orders_block_wrapper
        //-       img.last-orders_pic(src="https://instagram.fhel6-1.fna.fbcdn.net/v/t51.2885-15/e35/70803853_541882596579207_7902213244381787121_n.jpg?_nc_ht=instagram.fhel6-1.fna.fbcdn.net&_nc_cat=103&_nc_ohc=rRWQzBOpGzQAX8Za_kp&oh=af128d4767f5df2466bbb6406ca1dec4&oe=5F04A762")
        //-   .last-orders_block
        //-     .last-orders_block_wrapper
        //-       img.last-orders_pic(src="https://instagram.fhel3-1.fna.fbcdn.net/v/t51.2885-15/e35/64505666_454088488767522_8966959240115725410_n.jpg?_nc_ht=instagram.fhel3-1.fna.fbcdn.net&_nc_cat=106&_nc_ohc=-n8XMReLw3kAX92GYru&oh=ed6e753638c50fa3f92c86da0e6b1b38&oe=5F020CFB")
      section.section.section_3 Block3
        textarea
      section.section.section_1 Block4
      section.section.section_2 Block5
      section.section.section_3 Block6
      section.section.section_1 Block7
      section.section.section_2 Block8
      section.section.section_3.section__contacts
        .contacts
          .contacts__phone
            .contacts__phone_pic
            a.contacts__link(href="tel:+79221307256") +7 922 130 72 56
          ul.contacts__socials
            li.contacts__socials_item
              a.contacts__link(href="https://instagram.com/greenpink_ekb?igshid=mtyqdn94rgfy" target="_blank") Instagram
            li.contacts__socials_item
        footer.footer
          nav.navigation
            +menu("link_footer", menuItems)
