doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Webpack Template
  body
    .wrapper
      section.section.section_1 Block1
        header.header
          a.link Block1
          a.link Block2
          a.link Block3
          a.link Block4
          a.link Block5
          a.link Block6
          a.link Block7
          a.link Block8
          a.link Block9
      section.section.section_2 Block2
      section.section.section_3 Block3
      section.section.section_1 Block4
      section.section.section_2 Block5
      section.section.section_3 Block6
      section.section.section_1 Block7
      section.section.section_2 Block8
      section.section.section_3 Block9
        footer.footer
          a.link_footer Block1
          a.link_footer Block2
          a.link_footer Block3
          a.link_footer Block4
          a.link_footer Block5
          a.link_footer Block6
          a.link_footer Block7
          a.link_footer Block8
          a.link_footer Block9
