include ../mixins/mixins


doctype html
html(lang='ru')
  head

    // Yandex.Metrika counter //
    script(type='text/javascript').
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
      ym(64853170, "init", {
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:5000
      });
    noscript
      div
        img(src='https://mc.yandex.ru/watch/64853170', style='position:absolute; left:-9999px;', alt='')

    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='yandex-verification', content='fd8be3c83c3de60d')
    title GreenPink
  body
    .wrapper
      .indicator
      .gmb-button(type="button")
        .gmb-button__section
      .gmb-menu-hide
      .gmb-menu
        .gmb-button_close(type="button")
        nav.navigation_gmb
          +menu("link_gmb", menuItems)
      section.section.section__about
        header.header
          nav.navigation
            +menu("link", menuItems)
        h1.about__title_main Цветочная мастерская "Green&nbsppink"
        h2.about__subtitle Авторские букеты из цветов и фруктов
      section.section.section__last-orders
        h2.subtitle Последние работы
        +smoothBlocks("last-orders", instaLinks)
      section.section.section__bouquets
        h2.subtitle.subtitle__bouquets Букеты
        +bouquets("bouquets", instaBouquets)
      section.section.section__contacts
        +contacts("contacts", contacts)
        .contacts__dev
          .contacts__dev_info Разработано 
          a.contacts__link(href="https://sden4.github.io/portfolio/") SDen
        footer.footer
          nav.navigation
            +menu("link_footer", menuItems)