include ../mixins/mixins.pug
include ../mixins/yandexmetrika.pug


doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='yandex-verification', content='fd8be3c83c3de60d')
    title GreenPink
  body
    .wrapper
      .indicator
      .gmb-button(type="button")
        .gmb-button__section
      .gmb-menu-hide
      .gmb-menu
        .gmb-button_close(type="button")
        nav.navigation_gmb
          +menu("link_gmb", menuItems)
      section.section.section__about
        header.header
          nav.navigation
            +menu("link", menuItems)
        h1 Green Pink Store
        h2 Сайт находится в разработке
      section.section.section__last-orders
        h2 Последние работы
        +smoothBlocks('last-orders', instaLinks)
      section.section.section__bouquets
        h2.subtitle Букеты
        +bouquets("bouquets", instaBouquets)
      section.section.section__contacts
        .contacts
          ul
            li.contacts__item
              img.contacts__pic(srcset="/assets/images/socials/phone.svg")
              a.contacts__link(href="tel:+79221307256" target="_blank") +7 922 130 72 56
            li.contacts__item
              img.contacts__pic(srcset="/assets/images/socials/insta.svg")
              a.contacts__link(href="https://instagram.com/greenpink_ekb?igshid=mtyqdn94rgfy" target="_blank") greenpink_ekb
            li.contacts__item
              img.contacts__pic(srcset="/assets/images/socials/whatsapp.svg")
              a.contacts__link(href="https://wa.me/79221307256" target="_blank") +7 922 130 72 56
        .contacts__dev
          .contacts__dev_info Разработано 
          a.contacts__link(href="https://sden4.github.io/portfolio/") SDen
        footer.footer
          nav.navigation
            +menu("link_footer", menuItems)