* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: Caveat, cursive;
  font-size: 24px;
  background: url("/assets/images/106.png") $bodyBGColor;
  height: 100%;
  margin: 0;
  color: $textColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include desktop {
    background: none;
  }
  @include laptop {
    @include smartphoneVRT {
      background: none;
    }
  }
}

.wrapper {
  width: 1480px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  transition: $animDuration;
}

.wrapper_active {
  background-color: $gmbButtonColorOpen;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; // delete blue mark of tap in mobile version 
}

img {
  display: block;
}

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent; // delete blue mark of tap in mobile version 
}