//colors
$color1: #D5B0AC;
$color2: #CEA0AE;
$color3:  #684551;
$color4: #402E2A;
$color5: #9CD08F;
$color1-plus50: #EAD7D5;


//main colors
$bodyBGColor: #EAD7D5; //$color1-plus50
$headerBGColor: #684551; //color3
$footerBGColor: #684551; //color3
$sectionBGColor1: #D5B0AC; //color1
$sectionBGColor2: #CEA0AE; //color2
$sectionBGColor3: #D5B0AC; //color1
$linkHoverColor: #D5B0AC; //color1
$textColor: #402E2A; //color4
$textColorLinks: #9CD08F; //color5

//contacts
$linkHoverColorContacts: #9CD08F; //color5

//indicator
$indicatorColor: #9CD08F; //color5
$indicatorHeight: 5px;
$indicatorInnertion: .5s;

//gamburger-menu
$gmbBGColor: #CEA0AE; //color2
$gmbMenuWidth: 200px;
$borderRadius: 5px;
$animDuration: .45s;
$gmbButtonColorOpen: #9CD08F; //color5
$gmbButtonColorClose: #FF4500;
$gmbOpenBGBlur: rgba($color: #9CD08F, $alpha: .3);

//vars
$trahsitionHoverDuration: .3s;

//resolutions
$desktop: 1280px;
$laptop: 980px;
$tablet: 768px;
$smartphone: 480px;
$phone: 320px;