//colors
$headerBGColor: gray;
$footerBGColor: gray;

$sectionBGColor1: #FFA07A;
$sectionBGColor2: #FF7F50;
$sectionBGColor3: #FF6347;

$linkHoverColor: #FFA07A;

//vars
$trahsitionHoverDuration: .3s;

//resolutions
$desktop: 1280px;
$laptop: 980px;
$tablet: 768px;
$smartphone: 480px;
$phone: 320px;

