.bouquets__acco {
    display: flex;
    justify-content: center;
    width: $widthAcco;
    height: 80vh;
    @include desktop {
        width: $widthAccoDesktop;
        height: 90vh;
    }
}

.bouquets__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    background-color: transparent;
    transition: $trahsitionHoverDuration;
    &:hover .bouquets__button_segment {
        background-color: $color5-plus37;
    }
    &:hover {
        background-color: $color3;
    }
    &:active {
        background-color: $color4;
    }
}

.bouquets__button_left{
    border-radius: 5px 0 0 5px;
}

.bouquets__button_right{
    border-radius: 0 5px 5px 0;
}

.bouquets__button_segment {
    width: 50px;
    height: 5px;
    border-radius: $borderRadius;
    background-color: $color5;
    transform: rotate(-45deg);
    position: relative;
    transition: $trahsitionHoverDuration;
    &:after{
        content: "";
        display: block;
        position: absolute;
        top:-22px;
        left: 22px;
        width: inherit;
        height: inherit;
        border-radius: inherit;
        background-color: inherit;
        transform: rotate(90deg);
    }
}

.bouquets__button_segment_left {
    transform: scale(-1,1) rotate(-45deg);
}

.bouquets__acco_window {
    width: $widthAccoWindow;
    position: relative;
    overflow: hidden;
    @include desktop {
        width: $widthAccoWindowDesktop;
    }
}

.bouquets__acco_line {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    will-change: left;
    transition: left $trahsitionHoverDuration;
}

.bouquets__acco_item {
    display: flex;
    flex-direction: column;
    width: $widthAccoWindow;
    height: 100%;
    @include desktop {
        width: $widthAccoWindowDesktop;
    }
}

.bouquets__acco_pic {
    width: 100%;
    height: 75%;
    object-fit: cover;
}

.bouquets__info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 25%;
}

.bouquets__info_price {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background-color: $color3;
    border-radius: $borderRadius;

    font-family: 'Lobster', cursive;
    font-size: 72px;
    color: $textColorPrice;
}

.bouquets__info_text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 90%;
}

.bouquets__info_name {
    display: flex;
    align-items: center;
    height: 30%;
    font-family: 'Caveat', cursive;
    font-size: 42px;
    @include desktop {
        justify-content: center;
    }
}

.bouquets__info_descr {
    display: flex;
    align-items: center;
    width: 100%;
    height: 65%;
    font-family: 'Caveat', cursive;
    font-size: 24px;
    @include desktop {
        text-align: center;
    }
}