.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    border: 2px solid $color5;
    border-radius: $borderRadius;
    font-size: 24px;
}

.contacts__item {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
    &:last-child {
        margin-bottom: 0;
    }
}

.contacts__pic {
    width: 50px;
    height: 50px;
    margin-right: 25px;
    &:hover {
        fill: $color4
    }
}

.contacts__link {
    height: fit-content;
    transition: $trahsitionHoverDuration;
    &:hover {
        color: $linkHoverColorContacts;
    }
}

.contacts__dev {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5%;
    right: 1%;
    font-size: 14px;
    color: $textColorLinks;
}

.contacts__dev_info {
    margin-right: 10px;
}