.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    border: 2px solid $color3;
    border-radius: $borderRadius;
    font-size: 24px;
}

.contacts__list {
    margin-bottom: 25%;
}

.contacts__item {
    margin-bottom: 1%;
    &:last-child {
        margin-bottom: 0;
    }
}

.contacts__link {
    transition: $trahsitionHoverDuration;
    &:hover {
        color: $linkHoverColorContacts;
    }
}

.contacts__dev {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    font-size: 18px;
}

.contacts__dev_info {
    margin-right: 10px;
}