.link,
.link_footer,
.link_gmb {
    cursor: pointer;
    position: relative;
    width: fit-content;
    color: $textColorLinks;
    transition: $trahsitionHoverDuration;

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 26px;
        left: 0;
        height: 2px;
        background-color: $linkHoverColor;
        opacity: 0;
        transition: $trahsitionHoverDuration;
    }

    &:hover {
        color: $linkHoverColor;
        transition: $trahsitionHoverDuration;
        &:after {
            opacity: 1;
            width: -webkit-fill-available;
            width: -moz-available;
            width: -ms-available;
        }
    }
}

.link_gmb {
    color:$textColor;
}

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.section__about {
    background-color: $sectionBGColor1;
    background-image: url("/assets/images/1.svg");
    background-position: bottom left;
    background-size: contain;
}

.section__last-orders {
    background-color: $sectionBGColor2;
    background-image: url("/assets/images/3.svg");
    background-position: 113% 100%;
    @include tablet {
        background-position: 140% 100%;
    }
}

.section__bouquets {
    background-color: $sectionBGColor1;
    background-image: url("/assets/images/4.svg");
    background-position: bottom center;
}

.section__contacts {
    position: relative;
    background-color: $sectionBGColor2;
    background-image: url("/assets/images/2.svg");
    background-position: bottom left;
    background-size: 35% 75%;
    @include laptop {
        @include smartphoneVRT {
            background-size: 35% 100%;
        }
    }
}

.subtitle {
    font-family: Caveat,cursive;
    font-size: 36px;
}

.subtitle__bouquets {
    margin-bottom: 1%;
}