.link,
.link_footer,
.link_gmb {
    cursor: pointer;
    position: relative;
    width: 46px;
    transition: $trahsitionHoverDuration;

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 20px;
        left: 0;
        width: inherit;
        height: 2px;
        background-color: $linkHoverColor;
        opacity: 0;
        transition: $trahsitionHoverDuration;
    }

    &:hover {
        color: $linkHoverColor;
        transition: $trahsitionHoverDuration;

        &:after {
            opacity: 1;
        }
    }
}

.link_gmb {
    color:#696969;
}

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_1 {
    background-color: $sectionBGColor1;
}

.section_2 {
    background-color: $sectionBGColor2;
}

.section_3 {
    background-color: $sectionBGColor3;
}