.catalog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 93%;
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        min-height: 50px;
        padding: 10px 20px;
        border: 2px solid $color5;
        border-radius: $borderRadius;
    }
    &__footer_delete {
        display: flex;
        align-items: center;
        width: fit-content;
    }
    &__footer_delete_unactive {
        z-index: -1;
    }
    &__footer_all-items {
        margin-right: 40px;
    }
}