.catalog__new-bouquet {
    display: none;
}

.catalog__new-bouquet_active {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    border-radius: $borderRadius;
    border: 2px solid $color5;
}

.admin__new-bouquet_form {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.admin__new-bouquet_form_part {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin-right: 2%;
    &:last-child {
        margin-right: 0;
    }
}

.admin__new-bouquet_form_label {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 40px;
    width: 80%;
    &:last-child {
        margin-bottom: 0;
    }
}

.admin__new-bouquet_form_name {
    width: 100%;
    margin-bottom: 10px;
}

.admin__new-bouquet_form_error {
    display: block;
    position: absolute;
    bottom: -38px;
    left: 0;
    padding: 2px 10px;
    border-radius: 2px;
    color: $bodyBGColor;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    background-color: $gmbButtonColorClose;
    z-index: 1;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: -5px;
        left: 60px;
        width: 30px;
        height: 30px;
        background-color: inherit;
        transform: rotate(45deg);
        z-index: -1;
    }
}

.admin__new-bouquet_form_error_unactive {
    display: none;
}

.admin__new-bouquet_form_textarea {
    height: 150px;
}

.admin__new-buoquet_download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80%;
    height: 80%;
    border-radius: $borderRadius;
    background-color: $color2;
    margin-bottom: 20px;
    overflow: hidden;
}

.admin__new-buoquet_download_text {
    margin-bottom: 5%;
}

#admin__add_bouquet-photo {
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}

.admin__new-bouquet_photo_preload {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}