.admin__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border: 2px solid $color5;
    border-radius: $borderRadius;
}