.admin__button {
    cursor: pointer;
    outline: none;
    padding: 5px 15px;
    font-size: 18px;
    color: $color3;
    border: 0;
    border-radius: $borderRadius;
    transition: $trahsitionHoverDuration;
    background-color: $color1-plus87;
    &:hover {
        color: $bodyBGColor;
        background-color: $color2;
    }
    &:active {
        transition: none;
    }
}

.admin__button_exit {
    &:active {
        background-color: $gmbButtonColorClose;
    }
}

.admin__button_delete, .admin__button_form_cancel {
    &:active {
        background-color: $gmbButtonColorClose;
    }
}

.admin__button_form_cancel {
    margin-right: 20px;
}

.admin__button_create, .admin__button_form_save {
    &:active {
        background-color: $color5;
    }
}

.admin__button_create_active {
    background-color: $color5;
    &:hover {
        color: $color3;
        background-color: $color5-plus37;
    }
}

.admin__button_login_close, .admin__button_item_close  {
    width: 22PX;
    height: 22PX;
    border: 0;
    outline: none;
    background: url("/imagesAdmin/Cross.svg");
    cursor: pointer;
}

.admin__button_login_close {
    display: block;
    position: absolute;
    top: 5%;
    left: 90%;
}