.admin {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 93%;
}

.admin__catalog {
    justify-content: space-between;
}

.catalog__content {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.admin__subtitle {
    padding: 10px 20px;
}

.catalog__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 50px;
    padding: 10px 20px;
    border: 2px solid $color5;
    border-radius: $borderRadius;
}

.catalog__footer_delete {
    display: flex;
    align-items: center;
    width: fit-content;
}

.catalog__footer_all-items {
    margin-right: 10px;
}